*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.center{
    width: 1080px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: flex-end;
  }
.top{
    text-align: center;
    margin-right: auto;
}
nav{
    overflow: hidden;
}
nav li{
    list-style: none;
    float: left;
    margin-top: 2px;
}
.a{
    display: block;
    text-decoration: none;
    color: royalblue;
    margin: 14px 16px 0px;
}
/* ここまで共通箇所 */

